
/*CSS cascades from general to specific to allow for changes to be made in a logical manner.*/  
   

/*HTML corresponding elements are on the left side in orange and the CSS to be implented are in {}.
    It cascades from body to div to h1 and ends with targeting the list.
*/

body {
    font-family: "Verdana";
    background-color: lightgray;
}

div {
    background-color: orange;
    margin: auto;
    width: 50%;
}

h1 {
    color: white;
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
    color: white;
    font-size: 18px;
}

/*Target html elements within a div or section classnamed*/

.main {
    background-color: green;
    width: 100%;
}

    .main > h1 {
        font-family: "Arial Black";
        text-align: left;
    }

    .main > ul {
        list-style: square;
    }

/*Target html elements by ids*/

#funThings {
    background-color: blue;
    width: 75%;
    margin: auto
}

#funThingsTitle {
    font-size: 36px;
}

#funThings > ul {
    font-family: "Comic Sans MS";
}

#funThings > li {
    font-weight: 700;
}